@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 305px;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.menu-icon {
  display: none;
}

.logo-space {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo-profile {
  width: 15%;
  border-radius: 50%;
}

.name {
  font-weight: 800;
  letter-spacing: 2px;
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.nav a {
  color: #213555;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  color: #4f709c;
}

.main {
  background-color: #f0f0f0;
}

.section1 {
  width: 100%;
  height: 100vh;
  color: #f0f0f0;
  background-color: #213555;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 26px 0;
}

.icons-list {
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icons-list li {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
  padding: 5px;
}

.linkedin-logo,
.github-logo,
.insta-logo {
  width: 60%;
}

.pointer {
  cursor: pointer;
}

.section1-content {
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: -150px;
}

.section1-title {
  width: 100%;
  height: 10vh;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.paragraph-section1 {
  width: 80%;
  height: 10vh;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 35px 0;
  line-height: 1.3em;
}

.section1-content-btn {
  width: 50%;
  height: 10vh;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.5em;
  background-color: #213555;
  color: #f0f0f0;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s, letter-spacing 0.3s;
}

.section1-content-btn:hover {
  letter-spacing: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: #4f709c;
  color: #f0f0f0;
}

.mini-scroll {
  width: 21px;
  height: 36px;
  border: 2px solid #f0f0f0;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25%;
}

.ball {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #f0f0f0;
  animation: slideDown 1s linear infinite;
  position: absolute;
}

@keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.section2 {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.h2-senction-black {
  width: 100%;
  text-align: center;
  color: #213555;
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 900;
  padding: 25px 0;
}

.hr-white-section {
  width: 3%;
  height: 1vh;
  background-color: #213555;
  border-radius: 10px;
}

.paragraph-white-section {
  color: #4f709c;
  width: 80%;
  height: 10vh;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 15px 0;
  line-height: 1.3em;
}

.bottom-content-section2 {
  width: 100%;
  height: 70vh;
  margin-top: 10%;
  display: flex;
  gap: 5%;
}

.right-content-section2,
.left-content-section2 {
  width: 50%;
}

.left-content-section2 {
  display: flex;
  gap: 5%;

  flex-direction: column;
}

.right-content-section2 {
  display: flex;
  flex-direction: column;
}

.paragraph-section2 {
  width: 100%;
  height: 45vh;
  text-align: start;
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  color: #4f709c;
}

.section2-content-btn {
  width: 40%;
  height: 10vh;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.5em;
  background-color: #213555;
  color: #f0f0f0;
}

.section2-content-btn:hover {
  letter-spacing: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: #4f709c;
  color: #f0f0f0;
}

.skills-container-section2 {
  width: 100%;
  display: flex;
  padding: 5.5% 0;
  gap: 15px;
  flex-wrap: wrap;
}

.skills {
  width: 25%;
  height: 2vh;
  background-color: #4f709c;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.section3 {

  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.section3-content-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.my-projects-articles {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0 50px repeat(5, 9vh);
  column-gap: 10%;
  margin-top: 10%;
}

.laptop-mockup {
  width: 100%;
  grid-column: 1/2;
}

.h3-sections2,
.h3-sections3 {
  font-size: 1.5rem;
  font-weight: 700;
  grid-column: -2/-1;
  grid-row: 2/3;
  color: #213555;

}

.paragraph-project-section {
  grid-column: -2/-1;
  grid-row: 3/6;
  text-align: justify;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  color: #213555;
}

.section3-content-btn {
  width: 40%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.5em;
  background-color: #213555;
  color: #f0f0f0;
  grid-column: -2/-1;
  grid-row: 6/7;
}

.section3-content-btn:hover {
  letter-spacing: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: #4f709c;
  color: #f0f0f0;
}

.section4 {
  justify-content: center;
  align-items: center;
  background-color: #213555;
  display: flex;
  display: flex;
  padding: 58px 0;
}

.section4-content-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.h2-sections {
  width: 100%;
  text-align: center;
  color: #f0f0f0;
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 900;
  padding: 25px 0;
}

.hr-section {
  width: 3%;
  height: 2vh;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.paragraph-section {
  color: #f0f0f0;
  width: 80%;
  height: 10vh;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 15px 0;
}

.form-section4 {
  width: 75%;
  height: 70vh;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 39px;
  margin-top: 90px;
}

.form-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.name,
.email,
.message {
  color: #213555;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#name,
#email {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 5vh;
  border: none;
  outline: none;
  padding-left: 15px;
}

#message {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  height: 25vh;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 1rem;
  font-weight: 550;
}

.form-btn {
  width: 20vw;
  height: 8vh;
  background-color: #213555;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  align-self: flex-end;
}

.form-btn:hover {
  box-shadow: rgba(0, 98, 185, 0.3) 0 4px 8px,
    rgba(0, 98, 185, 0.2) 0 7px 13px -3px, #213555 0 -3px 0 inset;
  transform: translateY(-2px);
}

.form-btn:active {
  box-shadow: #213555 0 3px 7px inset;
  transform: translateY(2px);
}

input:focus::placeholder {
  color: transparent;
}

.message:focus::placeholder {
  color: transparent;
}

.footer {
  background-color: #213555;
  border-top: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.up-footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  width: 60%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
}

.right-content {
  width: 20%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.footer-icons {
  width: 100%;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.h3-footer {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f0f0f0;
}

.h3-footer {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f0f0f0;
}

.paragraph-footer {
  width: 100%;
  color: #f0f0f0;
  text-align: justify;
  align-content: flex-start;
}

.linkedin-footer-logo,
.github-footer-logo,
.insta-footer-logo {
  width: 10%;
}

.copyright-section {
  width: 80%;
}

.copyright-p {
  width: 100%;
  color: #f0f0f0;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1024px) {


  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: red;

  }


  .header {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0;
  }

  .logo-space {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    display: flex;
  }

  .nav {
    width: 100vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 2% 0;
  }

  .section1 {
    height: 60vh;
    flex-direction: column;
  }

  .icons-list {
    width: 30%;
    flex-direction: row;
  }

  .linkedin-logo,
  .github-logo,
  .insta-logo {
    width: 40%;
  }

  .section1-content {
    width: 62%;
    height: 50vh;
    position: relative;
    right: 0px;
  }

  .section1-title {
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    font-weight: 600;
  }

  .paragraph-section1 {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }

  .section1-content-btn {
    width: 100%;
    height: 8vh;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.3em;
    background-color: #213555;
    color: #f0f0f0;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, letter-spacing 0.3s;
  }

  .section1-content-btn:hover {
    letter-spacing: 0.5em;
    border: 1px solid #f0f0f0;
    background-color: #4f709c;
    color: #f0f0f0;
  }

  .mini-scroll {
    display: none;
  }

  .section2 {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section2-content-container {
    width: 100%;
    padding: 0 5vw;
  }

  .h2-senction-black {
    width: 100%;
    text-align: center;
    color: #213555;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-weight: 800;
    padding: 25px 0;
  }

  .hr-white-section {
    display: none;
  }

  .paragraph-white-section {
    width: 100%;
    height: 10vh;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.1em;
  }

  .bottom-content-section2 {
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-content-section2,
  .left-content-section2 {
    width: 100%;
  }

  .left-content-section2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .right-content-section2 {
    display: flex;
    flex-direction: column;
  }

  .h3-sections2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #213555;
  }

  .paragraph-section2 {
    width: 100%;
    height: 70%;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.1em;
    padding: 2% 0;
  }

  .section2-content-btn {
    width: 80%;
    height: 10vh;
    font-size: 80%;
    font-weight: 600;
    letter-spacing: 0.5em;
    overflow: hidden;
    align-self: center;
  }

  .skills-container-section2 {
    height: 10vh;
    gap: 15px;
  }

  .skills {
    width: 15%;
  }

  section3 {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section3-content-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
  }

  .my-projects-articles {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .laptop-mockup {
    width: 100%;
  }

  .h3-sections2,
  .h3-sections3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #213555;
  }

  .section3-content-btn {
    width: 40%;
    height: 8vh;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5em;
    background-color: #213555;
    color: #f0f0f0;
  }

  .section3-content-btn:hover {
    letter-spacing: 0.5em;
    border: 1px solid #f0f0f0;
    background-color: #4f709c;
    color: #f0f0f0;
  }

  .form-btn {
    align-self: center;

  }

  .footer {
    height: 100vh;
  }


  .up-footer-content {
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 25px;
  }

  .left-content {
    width: 100%;
    gap: 25px;
  }

  .right-content {
    width: 100%;
    justify-content: flex-start;
  }

  .footer-icons {
    width: 100%;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .copyright-section {
    width: 100%;
    height: 10vh;

  }

  .copyright-p {

    padding: 10px 0;
  }


}

@media (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .section1 {
    height: 30vh;
    flex-direction: column;
  }

  .menu-icon {
    display: flex;
    width: 5%;
    padding-right: 5%;
  }

  .icons-list {
    display: none;
  }

  .section1-content {
    height: 40vh;
    justify-content: flex-start;
  }

  .section1-title {
    line-height: normal;
    height: 5vh;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .paragraph-section1 {
    width: 100%;
    height: 5vh;
    font-size: 0.7rem;
  }

  .section1-content-btn {
    width: 100%;
    height: 5vh;
    margin-top: 10%;
  }

  .h2-senction-black {
    font-size: 1.4rem;
  }

  .h3-sections2 {
    font-size: 1.5rem;
  }

  .section2-content-container {}

  .paragraph-white-section,
  .paragraph-section2 {
    width: 100%;
    height: 10vh;
    text-align: justify;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    padding: 15px 0;
  }

  .section2-content-btn {
    width: 80%;
    height: 5vh;
    margin: 25% 0 5% 0;
  }


  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }

  .section3 {
    margin-top: 20%;
  }

  .laptop-mockup {
    display: none;
  }

  .h3-sections3 {
    font-size: 1rem;
    margin-top: 5%;
  }

  .my-projects-articles {
    width: 90%;
    margin: 0
  }

  .section3-content-btn {
    height: 5vh;
    font-size: 0.5rem;
  }

  .paragraph-project-section {
    width: 110%;
    font-size: 0.7rem;
  }

  .h2-sections {
    width: 100%;
    color: #f0f0f0;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
  }

  .hr-section {
    display: none;
  }

  .paragraph-section {
    font-size: 0.7rem;

  }

  .form-section4 {
    margin-top: 5%;
    font-size: 0.7rem;
    height: 65vh;
  }

  .message-text {
    height: 5vh;

  }

  .form-btn {
    width: 80%;
    height: 5vh;
    background-color: #213555;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.7rem;

  }

  input::placeholder {
    font-size: 10px;

  }

  textarea::placeholder {
    font-size: 10px;

  }

  .h3-footer {
    font-size: 1rem;
    margin-top: 5%;

  }

  .paragraph-footer {
    font-size: 0.7rem;
  }



}